<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加留言</title>
</head>
<body>
    <center>
        <h1 style="color: darkred">添加留言</h1>
        <table>
            <form action="/insert" method="post">
                <tr>
                    <td>昵称：</td>
                    <td><input type="text" name="nikename"></td>
                </tr>
                <tr>
                    <td>留言信息：</td>
                    <td><textarea name="info" id="" cols="30" rows="10"></textarea></td>
                </tr>
                <tr>
                    <td><button id="add">添加</button></td>
                </tr>
            </form>
        </table>
    </center>
</body>
</html>
